flows.json
[{"id":"90343cce.84b51","type":"tab","label":"Remote-health-Monitoring","disabled":false,"info":""},{"id":"9a049506.d9faf8","type":"ui_form","z":"90343cce.84b51","name":"","label":"User Registration form","group":"896955e9.ba1fb8","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Gender","value":"gender","type":"text","required":true,"rows":null},{"label":"Residential Assress","value":"address","type":"multiline","required":false,"rows":3},{"label":"Mobile Number","value":"mob","type":"number","required":false,"rows":null},{"label":"Patient ID","value":"id","type":"number","required":true,"rows":null}],"formValue":{"name":"","age":"","gender":"","address":"","mob":"","id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":420,"wires":[["874d6b68.512cc8","8cc9b56c.ec03f8"]]},{"id":"874d6b68.512cc8","type":"cloudant out","z":"90343cce.84b51","name":"","cloudant":"","database":"user_info","service":"node-red-bdqix-2020--cloudant-1602846337142-8599","payonly":true,"operation":"insert","x":340,"y":400,"wires":[]},{"id":"ad27f2fd.fd712","type":"debug","z":"90343cce.84b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":340,"wires":[]},{"id":"cc55626b.ce4bb","type":"function","z":"90343cce.84b51","name":"temperature","func":"global.set('temperature',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":40,"wires":[["d8291739.5e6118"]]},{"id":"d8291739.5e6118","type":"ui_gauge","z":"90343cce.84b51","name":"","group":"896955e9.ba1fb8","order":4,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"units","format":"{{msg.payload.temperature}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":40,"wires":[]},{"id":"c4929247.b4f84","type":"ui_gauge","z":"90343cce.84b51","name":"","group":"896955e9.ba1fb8","order":7,"width":0,"height":0,"gtype":"gage","title":"PULSE","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":80,"wires":[]},{"id":"b05a0564.c652a8","type":"function","z":"90343cce.84b51","name":"pulse","func":"global.set('pulse',msg.payload.pulse)\nmsg.payload=msg.payload.pulse\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[["c4929247.b4f84"]]},{"id":"66d7e424.d7baac","type":"http in","z":"90343cce.84b51","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":720,"wires":[["cf4060b8.75864"]]},{"id":"f5b5ae46.7a93","type":"http response","z":"90343cce.84b51","name":"","statusCode":"","headers":{},"x":550,"y":720,"wires":[]},{"id":"cf4060b8.75864","type":"function","z":"90343cce.84b51","name":"","func":"msg.payload={'id':global.get(\"id\"),'output':global.get(\"ouptut\"),'priscription':global.get(\"priscription\"),'sys':global.get(\"sys\"),'dia':global.get(\"dia\"),'pulse':global.get(\"pulse\")}\n//var apikey=\"yO0mwvZ0UID-iyTrvPcJv2BsNN60Vf681T7JgLdzqf3B\";\n//msg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\n//msg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":720,"wires":[["f5b5ae46.7a93"]]},{"id":"8cc9b56c.ec03f8","type":"debug","z":"90343cce.84b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":460,"wires":[]},{"id":"b4b20bee.c34da8","type":"function","z":"90343cce.84b51","name":"get-values","func":"//var pulse = global.get(\"pulse\")\n//var bp = global.get(\"bp\")\n//var temperature = global.get(\"temperature\")\n//var oxilevel = global.get(\"oxilevel\")\nvar id = global.get(\"id\")\nvar name = global.get(\"name\")\n//var token=msg.payload.access_token\n//var instance_id=\"e9f4503a-5b76-4175-a3bd-b742ac6d19c8\"\n//msg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\n//msg.payload={\"input_data\":[{\"fields\": [[\"pulse\",\"bp\",\"temperature\",\"oxilevel\"]],\"values\": [[pulse,bp,temperature,oxilevel]]}]}\nvar age = global.get('age')\nvar temperature = global.get('temperature')\nvar sys = global.get('sys')\nvar dia = global.get('dia')\nvar pulse = global.get('pulse')\nvar token=msg.payload.access_token\nvar instance_id=\"7142c196-643e-4e4d-9651-ccf571c656ad\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-InstanceID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"name\",\"age\", \"id\",\"temperature\", \"sys\", \"dia\", \"pulse\"],\n\"values\": [[name,age,id,temperature,sys,dia,pulse]]}]}\nreturn msg;\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":260,"wires":[["f0086139.56245"]]},{"id":"12c19e56.61b7e2","type":"http request","z":"90343cce.84b51","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":200,"wires":[["2bb156fd.aa39ca","b4b20bee.c34da8"]]},{"id":"471a17c3.8c8868","type":"function","z":"90343cce.84b51","name":"get_healthdata","func":"global.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"pulse\",msg.payload.pulse)\nglobal.set(\"sys\",msg.payload.sys)\nglobal.set(\"name\",msg.payload.name)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"age\",msg.payload.age)\n//global.set(\"oxilevel\",msg.payload.oxilevel)\n//global.set(\"id\",msg.payload.id)\n//API key for ML instance\n//global.set (\"age\", msg.payload.d.age);\n//global.set (\"Temperature\", msg.payload.d.Temperature);\n//global.set (\"Systolic\", msg.payload.d.Systolic);\n////global.set (\"Diastolic\", msg.payload.d.Diastolic);\n////global.set (\"Pulse”, msg.payload.d.Pulse);\n//var apikey=\"RbSYuZU0Jk5WX_VvV9LqZztBF7pmgMLMsefzjwS0Mxh1\";\n//msg.headers= {\"content-type”: application/x-www-form-urlencoded\"}\n//msg.payload= {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n//return msg;\nvar apikey=\"h3UbxfgVCJPVKWOpRYo6shAabFbngWGBqtPj2RevbVfo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":220,"wires":[["12c19e56.61b7e2"]]},{"id":"2bb156fd.aa39ca","type":"debug","z":"90343cce.84b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":320,"wires":[]},{"id":"f0086139.56245","type":"http request","z":"90343cce.84b51","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/7142c196-643e-4e4d-9651-ccf571c656ad/predictions?version=2020-10-16","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":360,"wires":[["9a93bc82.bb398","bd4c9baf.f19a58"]]},{"id":"9a93bc82.bb398","type":"debug","z":"90343cce.84b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":420,"wires":[]},{"id":"bd4c9baf.f19a58","type":"function","z":"90343cce.84b51","name":"output parsing","func":"//var pulse = global.get('pulse')\n//var bp = global.get('bp')\n//var temperature = global.get('temperature')\n//var oxilevel = global.get('oxilevel')\n//var id = global.get('id')\n//var output=msg.payload.predictions[0].values[0][0]\n//global.set('output',output)\n//msg.payload={\n    //details:{\n        //health:{\n           // temperature:temperature,\n           // pulse:pulse,\n           // bp:bp,\n           // oxilevel:oxilevel,\n         //  output:output\n        //}\n    //}\n//}\nvar age = global.get ('age')\nvar id = global.get ('id')\nvar name = global.get ('name')\nvar temperature = global.get ('temperature')\nvar sys = global.get ('sys')\nvar dia = global.get ('dia')\nvar pulse = global.get ('pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n name:name,\n age: age,\n id:id,\n temperature: temperature,\n sys: sys,\n dia:dia,\n pulse: pulse,\n output: output\n }\n }\n}\nreturn msg;\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":320,"wires":[["a1b1c90d.3c49f8","d7f608f3.400bb8"]]},{"id":"a1b1c90d.3c49f8","type":"debug","z":"90343cce.84b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":400,"wires":[]},{"id":"d7f608f3.400bb8","type":"ui_template","z":"90343cce.84b51","group":"dc4efc30.10edf","name":"","order":9,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n <span flex>Name</span>\n <span flex>id</span>\n <span flex>age</span>\n <span flex>temperature</span>\n <span flex>systloic</span>\n <span flex>dailostic</span>\n <span flex>pulse</span>\n <span flex>Output</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n <span flex style=\"color: green\"> {{health.name}} </span>\n <span flex style=\"color: green\"> {{health.id}} </span>\n <span flex style=\"color: green\"> {{health.age}} </span>\n <span flex style=\"color: red\"> {{health.temperature}} </span>\n <span flex style=\"color: blue\"> {{health.sys}} </span>\n <span flex style=\"color: yellow\"> {{health.dia}} </span>\n <span flex style=\"color: black\"> {{health.pulse}} </span>\n <span flex style=\"color: Brown\"> {{health.output}} </span>\n </div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":340,"wires":[[]]},{"id":"c565c16.f703e4","type":"ibmiot in","z":"90343cce.84b51","authentication":"apiKey","apiKey":"159a56a4.aac9a9","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"arduino","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":80,"wires":[["cc55626b.ce4bb","b05a0564.c652a8","471a17c3.8c8868","372a3c5b.df4c64","d4c5d8d4.0260b8","ad27f2fd.fd712"]]},{"id":"372a3c5b.df4c64","type":"function","z":"90343cce.84b51","name":"sys","func":"global.set('sys',msg.payload.sys)\nmsg.payload=msg.payload.sys\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":120,"wires":[["56c749e8.e16888"]]},{"id":"d4c5d8d4.0260b8","type":"function","z":"90343cce.84b51","name":"dia","func":"global.set('dia',msg.payload.dia)\nmsg.payload=msg.payload.dia\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":160,"wires":[["b7edb495.5c2158"]]},{"id":"56c749e8.e16888","type":"ui_gauge","z":"90343cce.84b51","name":"","group":"896955e9.ba1fb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Sys","label":"units","format":"{{msg.payload.sys}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":120,"wires":[]},{"id":"b7edb495.5c2158","type":"ui_gauge","z":"90343cce.84b51","name":"","group":"896955e9.ba1fb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Dia","label":"units","format":"{{msg.payload.dia}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":160,"wires":[]},{"id":"4cabc660.e4b598","type":"http in","z":"90343cce.84b51","name":"","url":"/url","method":"get","upload":false,"swaggerDoc":"","x":250,"y":800,"wires":[["2c618d6e.ca6592"]]},{"id":"39edce29.843402","type":"http response","z":"90343cce.84b51","name":"","statusCode":"","headers":{},"x":750,"y":820,"wires":[]},{"id":"241f2202.7da7be","type":"ui_button","z":"90343cce.84b51","name":"","group":"dc4efc30.10edf","order":0,"width":0,"height":0,"passthru":false,"label":"priscription","tooltip":"","color":"","bgcolor":"","icon":"","payload":"priscription","payloadType":"str","topic":"","x":370,"y":900,"wires":[["e626c222.e56f7"]]},{"id":"2c618d6e.ca6592","type":"function","z":"90343cce.84b51","name":"url","func":"msg.payload=msg.payload.url\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":800,"wires":[["39edce29.843402","e626c222.e56f7","7a3493e6.a6280c"]]},{"id":"e626c222.e56f7","type":"ibmiot out","z":"90343cce.84b51","authentication":"apiKey","apiKey":"159a56a4.aac9a9","outputType":"cmd","deviceId":"12345","deviceType":"arduino1","eventCommandType":"home","format":"String","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":900,"wires":[]},{"id":"7a3493e6.a6280c","type":"debug","z":"90343cce.84b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":760,"wires":[]},{"id":"535eda49.038d04","type":"function","z":"90343cce.84b51","name":"priscription","func":"//msg.payload = global.get(\"ouptut\")\nvar age = global.get('age')\nvar id = global.get('id')\nvar name = global.get('name')\nvar temperature = global.get('temperature')\nvar sys = global.get('sys')\nvar dia = global.get('dia')\nvar pulse = global.get('pulse')\nvar output=global.get('ouptut')\nvar priscription = \"take 2 che-cold tablets 2 times a day\"\nglobal.set(\"priscription\",priscription)\nmsg.payload = {\n details: {\n health: {\n name:name,\n age:age,\n id:id,\n temperature:temperature,\n sys:sys,\n dia:dia,\n pulse:pulse,\n output:output,\n priscription:priscription\n }\n }\n}\nreturn msg;\n//return msg;\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":560,"wires":[["9d777207.1ab86","55a387b8.30aaa8","a047dca7.86ca1"]]},{"id":"9d777207.1ab86","type":"ibmiot out","z":"90343cce.84b51","authentication":"apiKey","apiKey":"159a56a4.aac9a9","outputType":"cmd","deviceId":"12345","deviceType":"arduino1","eventCommandType":"command","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":560,"wires":[]},{"id":"82233887.92cea8","type":"inject","z":"90343cce.84b51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":560,"wires":[["535eda49.038d04"]]},{"id":"55a387b8.30aaa8","type":"debug","z":"90343cce.84b51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":640,"wires":[]},{"id":"a047dca7.86ca1","type":"ui_template","z":"90343cce.84b51","group":"dc4efc30.10edf","name":"","order":9,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n <span flex>Name</span>\n <span flex>id</span>\n <span flex>age</span>\n <span flex>temperature</span>\n <span flex>systloic</span>\n <span flex>dailostic</span>\n <span flex>pulse</span>\n <span flex>Output</span>\n \n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n <span flex style=\"color: green\"> {{health.name}} </span>\n <span flex style=\"color: green\"> {{health.id}} </span>\n <span flex style=\"color: green\"> {{health.age}} </span>\n <span flex style=\"color: red\"> {{health.temperature}} </span>\n <span flex style=\"color: blue\"> {{health.sys}} </span>\n <span flex style=\"color: yellow\"> {{health.dia}} </span>\n <span flex style=\"color: black\"> {{health.pulse}} </span>\n <span flex style=\"color: Brown\"> {{health.output}} </span>\n </div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":480,"wires":[[]]},{"id":"896955e9.ba1fb8","type":"ui_group","z":"","name":"Test","tab":"af08dba1.8507e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc4efc30.10edf","type":"ui_group","z":"","name":"Dashboard-for-Doctors","tab":"f6fbb9dd.439c38","order":2,"disp":true,"width":"18","collapse":false},{"id":"159a56a4.aac9a9","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"43wsk6.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"af08dba1.8507e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f6fbb9dd.439c38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]